@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Montserrat:wght@400;700&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Jura:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Kanit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family: Assistant, sans-serif;
}

[data-theme='carbon']{
  --bg-color-1: #1F1F22;
  --bg-color-2: #1A1A1E;
  --bg-color-3: #26272D;
  --bg-color-4: rgba(126,18,241,1);
  --bg-color-5: rgba(238,29,232,1); 
  --bg-color-6: #000000;
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(190, 190, 190);
  --text-color-3: rgb(163, 163, 163);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(151, 151, 151);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

[data-theme='lavender']{
  --bg-color-1: #7B2CBF;
  --bg-color-2: #5A189A;
  --bg-color-3: #9D4EDD;
  --bg-color-4: rgb(241, 18, 204);
  --bg-color-5: rgb(238, 29, 127); 
  --bg-color-6: #000000; 
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(223, 223, 223);
  --text-color-3: rgb(226, 225, 225);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(185, 185, 185);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

[data-theme='sunrise']{
  --bg-color-1: #F79D65;
  --bg-color-2: #F4845F;
  --bg-color-3: #F7B267;
  --bg-color-5: #e3f259;
  --bg-color-4: #f7ae5b; 
  --bg-color-6: #000000; 
  --text-color-1: rgb(0, 0, 0);
  --text-color-2: rgb(36, 36, 36);
  --text-color-3: rgb(53, 53, 53);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(73, 73, 73);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

[data-theme='midnight']{
  --bg-color-1: #2E236C;
  --bg-color-2: #17153B;
  --bg-color-3: #433D8B;
  --bg-color-4: rgb(18, 107, 241);
  --bg-color-5: rgb(29, 238, 238); 
  --bg-color-6: #000000; 
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(223, 223, 223);
  --text-color-3: rgb(226, 225, 225);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(151, 151, 151);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

[data-theme='coffee']{
  --bg-color-1: #6b5140;
  --bg-color-2: #493628;
  --bg-color-3: #a88367;
  --bg-color-4: #d18c0d; 
  --bg-color-5: #e9c601;
  --bg-color-6: #000000; 
  --text-color-1: rgb(255, 255, 255);
  --text-color-2: rgb(223, 223, 223);
  --text-color-3: rgb(226, 225, 225);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(202, 202, 202);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

[data-theme='vanilla']{
  --bg-color-1: #F1F0E8;
  --bg-color-2: #E5E1DA;
  --bg-color-3: #B3C8CF;
  --bg-color-4: #8fddfa; 
  --bg-color-5: #8eb0dd;
  --bg-color-6: #000000; 
  --text-color-1: rgb(0, 0, 0);
  --text-color-2: rgb(36, 36, 36);
  --text-color-3: rgb(53, 53, 53);
  --text-color-4: rgb(81, 146, 245);
  --text-color-5: rgb(73, 73, 73);
  --button-color-1: linear-gradient(90deg, var(--bg-color-4) 45%, var(--bg-color-5) 100%);
  --button-shadow: var(--bg-color-2);
  --red-color: #f81818;
  --red-color-disabled: #fa4646;
  --white-color: #fff;
}

body{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.stop-resize-animation * {
  transition: none !important;
  animation: none !important;
}

#root{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.body-background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-color-6);
  overflow: hidden;

}

.body-bg-shape:first-of-type{
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 50%;
  height: 70%;
  background-color: var(--bg-color-5);
  border-radius: 50%;
  transform: rotate(-45deg);
  filter: blur(50px);
}

.body-bg-shape:last-of-type{
  position: absolute;
  top: -10%;
  right: -10%;
  width: 50%;
  height: 90%;
  background-color: var(--bg-color-4);
  border-radius: 50%;
  filter: blur(50px);
}

input::placeholder{
  color: var(--text-color-2);
}

.body-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* ------------------- Form and Register Page ------------------- */

header{
  width: 100%;
  height: 60px;
  padding: 32px;
}

header > a{
  color: var(--white-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 40px;
}

/* ------------------- Form and Register Page ------------------- */

.form-container{
  background-color: var(--bg-color-2);  
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  width: 500px;
  border-radius: 10px;
}

.form-container > h1{
  align-self: center;
  color: var(--text-color-1);
  font-size: 32px;
}

.form-container > p:first-of-type{
  align-self: center;
  color: var(--text-color-2);
  margin-top: 8px;
}

.form-container > p:last-of-type{
  color: var(--text-color-2);
  font-size: 14px;
  margin-top: 8px;
  align-self: flex-start;
}

.form-container > p:last-of-type > a{
  color: var(--text-color-4);
  text-decoration: none;
}

.form-container > p:last-of-type > a:hover{
  text-decoration: underline;
}

.form-container > form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.form-container > form > label > h5{
  color: var(--text-color-1);
  font-size: 14px;
  margin-bottom: 8px;
}

.form-container > form > label > input{
  width: 100%;
  font-size: 16px;
  padding: 16px 8px;
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: var(--bg-color-3);
  color: var(--text-color-1);
}

.form-container > form > input{
  padding: 16px 8px;
  border: none;
  border-radius: 3px;
  background-image: var(--button-color-1);
  color: var(--text-color-1);
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

.error-message{
  color: red;
}

/* ------------------- Chats Page ------------------- */

.container{
  width: 992px;
  height: 70vh;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 16px;
}

.container-left{
  width: 30%;
  background-color: var(--bg-color-1);
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px;
  height: 100%;
  z-index: 4;
}

.container-right{
  width: 70%;
  background-color: var(--bg-color-2);
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.empty-chat-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.empty-chat-container > h1{
  color: var(--text-color-3);
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  padding: 16px;
}


.container-left > button{
  position: absolute;
  top: 0;
  right: 0;
  display: none; 
  border: none;
  border-left: 2px solid var(--bg-color-3);
  background-color: var(--bg-color-1);
  align-items: center;
  height: 100%;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
}

.container-left > button > svg{
  font-size: 24px;
  color: var(--text-color-1);
  transition: all 0.3s ease-in-out;
}

/* ------------------- Chats List Header ------------------- */

.header-user-info{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.header-user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header-user > h2{
  font-size: 16px;
  color: var(--text-color-1);
}

.more-details-dots{
  display: flex;
  align-items: center;
  gap:1px;
  cursor: pointer;
  z-index: 0;
}

.dot{
  height: 5px;
  width: 5px;
  background-color: var(--text-color-1);
  border-radius: 50%;
}

.more-detail-options-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: var(--bg-color-2);
  color: var(--text-color-2);
  position: absolute;
  top: 50px;
  right: 16px;
  box-shadow: 1px 1px 5px rgb(36, 36, 36);
  border-radius: 3px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px 0 5px 5px;
}

.more-detail-options{
  padding: 8px 12px;
  border-bottom: 1px solid var(--bg-color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.more-detail-options > svg{
  font-size: 20px;
}

.more-detail-options:last-of-type{
  border: none;
}

/* ------------------- Search User ------------------- */

.search-user-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.search-user-container > input{
  width: 100%;
  background-color: var(--bg-color-3);
  border: none;
  border-radius: 5px;
  padding: 14px;
  outline: none;
  color: var(--text-color-1);
  font-size: 16px;
}

.add-buttons{
  display: flex;
  padding: 16px;
  gap: 10px;
  justify-content: flex-end;
}

.add-user-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--button-color-1);
    color: var(--text-color-1);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--button-shadow);
}

.add-user-btn span, .add-user-btn > span > svg{
    display: flex;
    align-items: center;
    font-size: 30px;
}

/* ------------------- Chat List ------------------- */

.chat-list-container{
  height: 100%;
  width: 100%;
  padding: 0 0 16px 0;
  overflow-y: scroll;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-list-container::-webkit-scrollbar{
  width: 0;
}

.chat-list-item{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px;
  cursor: pointer;
  border-bottom: 2px solid var(--bg-color-3);
  width: 100%;
  position: relative;
}

.chat-list-item:hover{
  background-color: var(--bg-color-3);
}

.chat-list-item > div{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chat-list-item > div > h2{
  color: var(--text-color-2);
  font-size: 18px;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.chat-list-item > div > div{
  display: flex;
  align-items: center;
  width: 100%;
  flex: 0;
}

.chat-list-item > div > div > p{
  color: var(--text-color-2);
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  max-width: 50%;
}

.chat-list-item > div > div > span{
  color: var(--text-color-5);
  font-size: 12px;
  margin-left: 8px;
  margin-top: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.unseen{
  background-color: var(--bg-color-4);
}

/* ------------------- Active Chat ------------------- */

.active-chat-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ------------------- Active Chat Header ------------------- */

.active-chat-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--bg-color-3);
  padding: 16px 0;
}

.active-chat-header-info{
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 20px;
  width: 100%;
}

.active-chat-header-info > svg{
  color: var(--text-color-1);
  cursor: pointer;
  margin: auto;
}

.active-chat-header-info > div{
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.active-chat-header-info > div > div{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.active-chat-header-info > div > div> h2{
  color: var(--text-color-1);
  font-size: 18px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.active-chat-header-info > div > div> p{
  color: var(--text-color-5);
  font-size: 14px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.active-chat-header-info > div:hover + .active-chat-header-info > div > h2{
  text-decoration: underline;
}

.active-chat-header > div:last-of-type{
  padding-right: 16px;
  display: flex;
  align-items: flex-end;
}

.active-chat-header > div:last-of-type > button{
  color: var(--red-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
}

.active-chat-header > div:last-of-type > button:disabled{
  cursor:not-allowed;
  color: var(--red-color-disabled);
}

/* ------------------- Active Chat Messages ------------------- */


.active-chat-messages-container::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--bg-color-3);
}

.active-chat-messages-container::-webkit-scrollbar-thumb
{
	background-color: var(--bg-color-4);
}


.active-chat-messages-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-bottom: 2px solid var(--bg-color-3);
}

.active-chat-message{
  display: flex;
  gap: 10px;
  padding: 16px;
  height: fit-content;
  width: 100%;
}

.active-chat-message:first-child{
  margin-top: auto;
}

.active-chat-message-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.active-chat-message-info{
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.active-chat-message-info > p:first-of-type{
  background-color: var(--bg-color-3);
  border-radius: 10px 10px 10px 0;
  padding: 16px 20px;
  color: var(--text-color-1);
  font-size: 16px;
  position: relative;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.active-chat-message-info > p:first-of-type > span:first-of-type{
  font-weight: bolder;
  font-size: 18px;
}

.active-chat-message-info > p:last-of-type{
  color: var(--text-color-5);
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
}

.owner{
  flex-direction: row-reverse;
}

.owner .active-chat-message-info > p:first-of-type{
  background-image: var(--button-color-1);
  border-radius: 10px 10px 0 10px;
}

.owner .active-chat-message-info > p:last-of-type{  
  text-align: right;
}


/* ------------------- Active Chat Input ------------------- */

.active-chat-input-container{
  padding: 16px;
  display: flex;
  align-items: center;
}

.active-chat-input-container > form {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.active-chat-input{
  flex: 1;
  background-color: var(--bg-color-3);
  display: flex;
  align-items: center;
  padding: 16px 40px 16px 16px;
  border-radius: 5px;
  position: relative;
}

.active-chat-input > input{
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: var(--text-color-1);
}

.active-chat-input-container > form > label{
  width: 55px;
  height: 55px;
  background-image: var(--button-color-1);
  border: none;
  border-radius: 50%;
  color: var(--text-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}


.active-chat-input-container > form > label > div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--button-color-1);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 5px 5px 50px 10px var(--button-shadow);
}

.active-chat-input-container > form > label > div > svg{
  transform: rotate(-45deg);
  font-size: 22px;
}

.active-chat-input > label{
  color: var(--text-color-1);
}

.blocked-message{
  width: 100%;
  background-color: var(--bg-color-3);
  color: var(--text-color-3);
  font-size: 16px;
  text-align: center;
  padding: 16px;
  border-radius: 5px;
}

.picker{
  position: absolute;
  right: 8px;
  bottom: 12px;
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
}

.picker > svg{
  align-self: flex-end;
}


/* ------------------- Add user ------------------- */

.pg-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(15px);
  z-index: 900;
}

.add-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 901;
}

.add-user-container, .add-group-container{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-2);
  padding: 16px;
  border-radius: 10px;
  width: 300px;
}

.add-group-container{
  width: 350px;
}

.quit-btn-container{
  margin-bottom: 16px;
}

.quit-btn-container > svg{
  color: var(--text-color-3);
  float: right;
  font-size: 24px;
}

.add-user-container > h2, .add-group-container > h2{
  color: var(--text-color-1);
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.add-user-input, .add-group-input{
  background-color: var(--bg-color-3);
  display: flex;
  color: var(--text-color-1);
  padding: 16px 8px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.add-user-input > svg, .add-group-input > svg{
  font-size: 16px;
}

.add-user-input > input, .add-group-input > input{
  width: 100%;
  background-color: transparent;
  color: var(--text-color-1);
  border: none;
  outline: none;
  font-size: 16px;
}

.add-user-search-results{
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
}

.add-user-item{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.add-user-item-left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-user-item-left > img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.add-user-item-left > h2{
  color: var(--text-color-1);
  font-size: 16px;
  text-overflow: ellipsis ;
}

.add-user-item-right{
  display: flex;
  align-items: center;
}

.add-user-item-right > button{
  background-image: var(--button-color-1);
  color: var(--text-color-1);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-group-form{
  display: flex;
  flex-direction: column;
}

.create-group-form label{
  color: var(--text-color-1);
  margin-bottom: 5px;
}

.create-group-form > input[type='submit']{
  background-image: var(--button-color-1);
  color: var(--text-color-1);
  border: none;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px;
}

.members{
  overflow-x: scroll;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.members > div{
  background-image: var(--button-color-1);
  padding: 5px;
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
}

.members > div > h3{
  color: var(--text-color-1);
  font-size: 14px;
  white-space: nowrap;
}

.members > div > svg{
  color: var(--text-color-1);
  font-size: 14px;
  cursor: pointer;
}

.members::-webkit-scrollbar{
  height: 0;
}

.create-group-form > div:first-of-type{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 16px;
}

.create-group-form > div:first-of-type > div{
  width: 100%;
  margin: 0;
}

/* ------------------- User Info ------------------- */

.user-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.user-info-container > img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* ------------------- Settings-header ------------------- */

.settings-container{
  width: 992px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 16px;
  position: relative;
  background-color: var(--bg-color-2);
  border-radius: 10px;
  overflow: hidden;
}

.settings-header{
  display: flex;
  gap: 20px;
  padding: 16px;
  align-items: center;
  height: 60px;
  background-color: var(--bg-color-1);
}

.settings-header svg, .settings-header h2{
  color: var(--text-color-1);
  font-size: 20px;
}

.settings-header > svg{
  cursor: pointer;
}

.settings-header > div{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* ------------------- Settings Content ------------------- */

.settings-content{
  display: flex;
  height: 100%;
}

.settings-nav-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-1);
}

.settings-nav-links{
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.settings-nav-links > li {
  padding: 32px 16px;
  font-size: 20px;
  color: var(--text-color-1);
  border-bottom: 2px solid var(--bg-color-3);
  cursor: pointer;
  font-weight: 400;
}

.settings-nav-links > .settings-active{
  background-color: var(--bg-color-2);
}

.settings-nav-container > button{
  cursor: pointer;
  margin: 16px;
  padding: 16px 8px;
  font-size: 16px;
  background-image: var(--button-color-1);
  color: var(--text-color-1);
  border: none;
  border-radius: 5px;
}

/* ------------------- User Settings ------------------- */

.user-setting-container, .app-setting-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.setting-content-header{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}

.setting-content-header > h2, .setting-content-header > svg{
  font-size: 24px;
  color: var(--text-color-1);
}

.user-setting-container > form{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-setting-container > form > label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-setting-container > form > label >span{
  color: var(--text-color-2);
}

.user-setting-container > form > label > input[type='text']{
  background-color: var(--bg-color-3);
  color: var(--text-color-1);
  padding: 16px 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}

.user-setting-container > form > input[type='text']{
  background-color: var(--bg-color-3);
  color: var(--text-color-1);
  padding: 16px 8px;
  border: none;
  outline: none;
}

.user-setting-container > form > input[type='submit']{
  background-image: var(--button-color-1);
  color: var(--text-color-1);
  border: none;
  padding: 16px;
  align-self: flex-end;
  font-size: 16px;
  cursor: pointer;
}

.app-setting-grid{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 16px;
}

.app-setting-grid > li{
  background-color: var(--bg-color-3);
  color: var(--text-color-2);
  font-size: 20px;
  padding: 16px 32px;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
}

.app-setting-grid > .active-theme{
  border: 1px solid var(--text-color-3);
}

/* ------------------- Current Chat Info ------------------- */

.current-chat-info-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.current-chat-upper{
  display: flex;
  position: relative;
  border-bottom: 2px solid var(--bg-color-3);
  padding-bottom: 16px;
}

.current-chat-upper > svg{
  font-size: 24px;
  color: var(--text-color-1);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.current-chat-upper-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.current-chat-upper-info > img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.current-chat-upper-info > h1{
  font-size: 24px;
  color: var(--text-color-1);
}

.current-chat-upper-info > p{
  font-size: 16px;
  color: var(--text-color-3);
  margin-top: 6px;
  text-align: center;
}

.current-chat-middle{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}

.current-chat-middle > h1{
  font-size: 20px;
  margin-bottom: 16px;
  color: var(--text-color-2);
}

.current-chat-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}

.current-chat-bottom{
  width: 100%;
}

.current-chat-bottom > button{
  background-color: var(--red-color);
  color: var(--white-color);
  border: none;
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
  padding: 8px 16px;
  cursor: pointer;
}

.current-chat-bottom > button:disabled{
  cursor:not-allowed;
  background-color: var(--red-color-disabled);
}

.member-list-item{
  background-color: var(--bg-color-1);
  border-radius: 5px;
  padding: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.member-list-item > div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.member-list-item > div > span{
  font-size: 14px;
  color: var(--bg-color-4);
  border: 1px solid var(--bg-color-4);
  padding: 2px 4px;
  border-radius: 5px;
}

.member-list-item > div > h2{
  font-size: 16px;
  color: var(--text-color-1);
}

/* ------------------- Responsive Css ------------------- */

@media screen and (max-width: 1024px) {
  .container{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .picker > aside{
    position: absolute;
    top: -450px;
    right: -70px;  
    width: 300px !important;
    z-index: 3;
  }

  .container{
    width: 100%;
  }

  .container-left{
    position: absolute;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }

  .container-left > button{
    display: flex;
  }

  .container-right{
    position: relative;
    width: 100%;
    border-radius: 10px;
  }

  .empty-chat-container > h1 {
    font-size: 24px;
  }

  .settings-content{
    flex-direction: column;
  }

  .settings-nav-container{
    width: 30%;
  }

  .settings-nav-links{
    flex-direction: row;
  }

  .settings-nav-links > li{
    border-bottom: none;
    border-right: 2px solid var(--bg-color-3);
    padding: 16px;
  }

  .settings-nav-container{
    width: 100%;
    height: 10%;
  }

  .user-setting-container, .app-setting-container{
    width: 100%;
  }
  

  .active-chat-header-info{
    gap: 10px;
  }
}

.left-container-show{
  transform: translateX(0);
}

@media screen and (max-width:480px) {

  .empty-chat-container > h1 {
    font-size: 20px;
  }

  .chat-list-item{
    gap: 10px;
  }

  .active-chat-header-info{
    gap: 10px;
  }

  .profile-avatar{
    width: 30px;
    height: 30px;
  }

  .active-chat-message-info > p:first-of-type{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px 5px 5px 0;
  }

  .owner .active-chat-message-info > p:first-of-type{
    border-radius: 5px 5px 0 5px;
  }

  .active-chat-message-info > p:last-of-type{
    font-size: 10px;
  }

  .active-chat-input > input{
    font-size: 14px;
  }

  .active-chat-input-container > form{
    gap: 10px;
  }

  .active-chat-input-container > form > label{
    width: 45px;
    height: 45px;
  }

  .active-chat-input-container > form > label > div{
    width: 35px;
    height: 35px;
  }

  .active-chat-input-container > form > label > div > svg{
    font-size: 18px;
  }

  .current-chat-upper-info > img{
    height: 60px;
    width: 60px;
  }

  .current-chat-upper-info > h1{
    font-size: 20px;
  }
  .current-chat-middle > h1{
    font-size: 16px;
  }

  .current-chat-upper-info > p{
    font-size: 14px;
  }

  .member-list-item > div > span{
    font-size: 12px;
    padding: 1px 4px;
  }
  
  .member-list-item > div > h2{
    font-size: 14px;
  }
  
}

.left-container-show > button{
  border-radius: 0;
}

